*.js
!jest.config.js
*.d.ts
node_modules

# Ignore cdk.context.json
# This is against CDK best practices, but don't want to commit account-specific context in this case.
cdk.context.json

# CDK asset staging directory
.cdk.staging
cdk.out
cdk.out.2

# WireGuard configuration files
client-configs/
*.pem
*.key

# RegionHop specific files
config.json
